<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath*:application.properties"/>

        <bean id="MidiSettings" class="lpx2hue.beans.MidiSettings">
            <property name="input" value="${midi.input}"/>
        </bean>

        <bean id="HueSettings" class="lpx2hue.beans.HueSettings">
            <property name="bridgeAddress" value="${hue.bridge.address}"/>
            <property name="user" value="${hue.bridge.user}"/>
            <property name="light" value="${hue.bridge.light.resource}"/>
        </bean>

        <bean id="RecordingLightSettings" class="lpx2hue.beans.RecordingLightSettings">
            <property name="onHue" value="${recordinglight.on.hue}"/>
            <property name="onBri" value="${recordinglight.on.bri}"/>
            <property name="onSat" value="${recordinglight.on.sat}"/>
            <property name="offHue" value="${recordinglight.off.hue}"/>
            <property name="offBri" value="${recordinglight.off.bri}"/>
            <property name="offSat" value="${recordinglight.off.sat}"/>
        </bean>

        <bean id="applicationContextProvder" class="lpx2hue.beans.ApplicationContextProvider"/>
</beans>